export AWS_REQUEST_CHECKSUM_CALCULATION=when_required
export AWS_RESPONSE_CHECKSUM_VALIDATION=when_required
export SOPS_EDITOR=code
export SOPS_EDITOR=code
export SOPS_AGE_KEY_FILE="$HOME/.config/sops/age/aecf-workplace.txt"